::selection {
  @apply text-white bg-black;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: 0;
  height: 1px;
  width: 1px;
}
