@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    src: url('~assets/fonts/Helvetica/Helvetica.ttf');
    font-family: "Helvetica";
    font-weight: normal;
  }
  @font-face {
    src: url('~assets/fonts/Helvetica/Helvetica-Bold.ttf');
    font-family: "Helvetica";
    font-weight: bold;
  }
  @font-face {
    src: url('~assets/fonts/Gilroy/Gilroy-Bold.ttf');
    font-family: 'Gilroy';
    font-weight: bold;
  }
  @font-face {
    src: url('~assets/fonts/Gilroy/Gilroy-BoldItalic.ttf');
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    src: url('~assets/fonts/Gilroy/Gilroy-Medium.ttf');
    font-family: 'Gilroy';
    font-weight: 500;
  }
  @font-face {
    src: url('~assets/fonts/Gilroy/Gilroy-MediumItalic.ttf');
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    src: url('~assets/fonts/Gilroy/Gilroy-Regular.ttf');
    font-family: 'Gilroy';
    font-weight: normal;
  }
  @font-face {
    src: url('~assets/fonts/Gilroy/Gilroy-RegularItalic.ttf');
    font-family: 'Gilroy';
    font-weight: normal;
    font-style: italic;
  }
}
